nav.navigation
  .navigation_wrapper
    a.navigation_link(href="/")
      | unfussy

    svg.navigation_link_icon


  ul.navigation_list
    li.navigation_list_item
      a.navigation_list_link(href="/about") About

    li.navigation_list_item
      a.navigation_list_link(href="/collections") Collections
